/* Don't change the existing CSS. */

#outer-box {
  background-color: blueviolet;
}

.box {
  background-color: blue;
  padding: 10px;
}

.inner-box {
  background-color: red;
}

p {
  color: yellow;
}

.box {
  padding: 10px;
}


.white-text {
  color: white;
}
